.container-admin {
    display: flex;
    width: 80%;
    margin: 0 auto;
}

.container-links {
    list-style: none;
    width: 20%;
}

.link-item {
    padding: 10px;
}

.link {
    font-size: 20px;
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    display: block;    
}

.active {
    color: blue;
}

.link:hover {
    color: blue;
    transition: color 0.5s ease-in;
    text-decoration: none;
}

.show-admin {
    width: 80%;
    margin-left: 30px;
}

.row {
    margin-top: 30px;
    /* display: flex;
    flex-wrap: wrap;
    text-align: center; */
}

.show-item {
    width: 100%;
    margin: 0 10px 30px;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.show-heading {
    text-transform: uppercase;
    font-size: 18px;
    margin: 0 30px;
    max-width: 200px;
    text-align: left;
}

.show-heading:hover {
    color: red;
    transition: color 0.5s ease-in;
}

.show-image {
    width: 200px;
    padding: 10px;
}

/* add-manufacturer */
.add-manufacturer {
    margin-top: 30px;
    display: block;
    color: blue;
}

/* Form input */
.form-input {
    margin-top: 30px;
    font-size: 16px;
}
.input {
    width: 400px;
    height: 30px;
    margin: 10px 0 20px;
    padding: 0 10px;
    font-size: 16px;
}

input[type="file"] {
    padding: 0;
}

.btn {
    padding: 4px 8px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.btn:hover {
    opacity: 0.8;
    transition: opacity 0.2s ease-in;
}

.dashboard-list {
    display: flex;
    flex-wrap: wrap;
    margin: 30px 0;
}

.dashboard-item {
}

.dashboard-item a {
    color: blue;
    text-decoration: none;
    padding: 40px 40px;
    border: 1px solid #ccc;
    margin: 20px;
    min-width: 270px;
    border-radius: 4px;
    box-shadow: 0 0 1px 2px #ccc;
    display: block;
}

.best-seller {
    margin: 20px 0;
}

.best-seller-title {
    color: red;
    font-size: 18px;
    text-decoration: none;
}

.best-seller-img {
    height: 150px;
    margin: 20px;
}

.best-seller-title img:hover {
    transform: scale(1.05);
    opacity: 0.9;
    transition: opacity 0.5s ease-in;
    transition: transform 0.2s;
}

.products {
}

.product-img {
    height: 250px;
}

/* others */
.table-others {
    border-collapse: collapse;
}

.table-others th {
    padding: 10px 0;
}

.table-others tbody {
    text-align: center;
}

.table-others tbody tr td {
    padding: 8px;
}

/* logo */
.logo-admin {
    width: 60px;
    padding: 10px;
}


.link-item > p >  .btn.btn-primary {
    width: 100% !important;
    text-align: left;
}

.link-item > p >  .btn.btn-secondary {
    width: 100% !important;
    text-align: left;   
}

.card.card-body {
    border: none;
}

a.dropdown-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
}