.container {
	min-height: 70vh;
}
.detail-image {
    width: 300px;
}
.detail-image:hover {
	transform: scale(1.1);
	transition: all 0.75s ease;
}

.detail-info {
	padding-left: 30px;
}

.detail-price {
	/*color: red;*/
}

.detail-list-info {
	padding-left: 20px;
}

.rated-item {
	border: 1px solid #ccc;
	padding: 10px;
	border-radius: 8px;
}