.container {
    padding: 0 5% 3%;
    min-height: 70vh;
}
.profile {
	display: flex;
}
.avatar {
	margin: 50px;
	display: flex;
	flex-direction: column;	
}
.default-image-user {
	width: 200px;
}

input[type="file"] {
	width: 200px;
	padding: 10px;
}

input[type="text"] {

}

.address {
	margin: 0px;
    width: 360px;
    height: 50px;
    font-family: inherit;
    font-weight: bold;
    font-size: 20px;
    width: 371px;
    height: 73px;
}

.phone {
	font-family: inherit;
    font-weight: bold;
    font-size: 20px;
}

.info {
	padding-left: 50px;
}