html {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
}
*,
*:before,
*:after {
    box-sizing: border-box;
}
input,
textarea,
select,
button {
    outline: none;
}
input {
    line-height: normal;
}
label,
button {
    cursor: pointer;
}
a {
    text-decoration: none;
}

body {
    font-family: "Poppins", sans-serif;
    line-height: 1.2;
}

.wrapper {
    width: 1300px;
    margin: 0 auto;
    padding-top: 40px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    padding: 0 40px;
    margin-bottom: 10px;
    width: 100%;
    margin: 0 auto;
}
.logo-link {
    font-size: 3rem;
    font-weight: bold;
    color: blue;
    font-style: italic;
    background: -webkit-linear-gradient(#f01919, #179fe0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;    
}

.menu {
    display: block;
    left: 30%;
}
.menu-slide {
    list-style: none;
    display: flex;
    padding-right: 80px;
}
.slide-item {
    float: left;
    line-height: 35px;
    padding: 0 15px;
}
.slide-item-link {
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: bold;
}
.slide-item:hover a {
    color: orange;
    transition: all 0.3s ease-in;    
}
#project {
    height: 30px;
    width: 300px;
    border-radius: 4px;
    padding: 4px;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
}

#project:focus {
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    box-`adow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}
.ui-menu .ui-menu-item-wrapper {
    display: flex;
    align-items: center;
}
.ui-menu .ui-menu-item-wrapper img {
    padding-right: 10px;
}
.icon {
    display: flex;
    justify-content: space-between;    
}
.banner a{
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.banner img {
    /*width: 100%;
    height: 600px;
    margin: 0 auto;*/
    height: 100%;
}

.list {
    display: flex;
    padding: 50px 50px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.list-item {
    display: flex;
    flex-direction: column;
    padding: 4px 8px;
    margin: 20px 10px;
    width: 20%;
    text-align: center;
    justify-content: space-between;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all 0.75s ease;
    border-radius: 4px;
    min-height: 370px;
    padding: 10px;
}
.list-item:hover {
    transform: scale(1.1);
}
.product-name {
    display: block;
    color: black;
    margin: 15px 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
}
.image-link {
    display: flex;
    justify-content: center;
    
}
.list-item-image {
    display: block; 
    text-align: center;    
    max-width: 150px;
    max-height: 150px;
}

.price {
    
}

.cart {
    font-size: 22px;
    color: black;
}
.add-to-cart {
    display: flex;
    align-items: center;
}
.icon-inner {
    padding: 10px;
}
.new-product {
    text-align: center;
    padding-top: 70px;
    font-size: 30px;
}

.list-item:hover .view-detail{
    display: block;
}
.btn-add-to-cart:hover .view-detail {
    display: none;
}
.view-detail {
    position: absolute;
    color: green;
    font-weight: bold;
    display: none;
    top: 4px;
}

.footer {
    width: 100%;    
    background-color: #f1f1f1;
    color: white;
    padding-top: 20px;
    padding-left: 50px;
}
.footer b {
    color: orange;
}
.footer p {
    color: #666;
    padding-top: 10px;
}
.footer .contact {
    color: orange;
    padding-top: 10px;
    display: inline-block;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Ubuntu", sans-serif;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    width: 100%;
    border-bottom: 2px solid #ccc;
    background-color: #fff;
    padding: 0 40px;
}

.header-logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000;
    padding: 10px;
}

.header-list {
    list-style: none;
    display: flex;
}

.header-item {
    padding: 10px;
}

.header-link {
    color: #000;
    text-decoration: none;
}

.header-link:hover {
    opacity: 0.8;
    transition: opacity 0.2s ease-in;
}

#container-admin {
    width: 100%;
    min-height: 85vh;
    background-color: #fff;
    padding: 60px 100px;
}

.products {
    margin: 20px auto 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.product {
    width: 29%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgb(236, 236, 236);
    margin: 20px;
    overflow: hidden;
}

.product-image {
    height: 200px;
}

.product-title {
    font-size: 20px;
    margin: 10px 0;
}

.product-title:hover {
    color: red;
}

.manufacturer {
    
}

.btn-add-to-cart {

}



.new_price {
    color: red;
    padding: 4px;
}

#footer {
    height: 100px;
    width: 100%;
    background-color: #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding: 10px; */
}

.footer-icon {
    font-size: 40px;
    color: #000;
    padding: 4px 10px;
}

#footer p {
    margin-bottom: 10px;
}

.product-detail {
    padding: 60px 100px;
    display: flex;
    min-width: 1500px;
}

.product-detail-title {
    text-transform: uppercase;
}

.product-detail-img {
    margin-top: 20px;
}

.product-detail-img:hover {
    opacity: 0.9;
    transition: opacity 0.5s ease-in;
}

.product-detail-info {
    font-size: 18px;
}

.product-detail-info h3 {
    margin: 10px 0;
}

.product-description {
    padding: 16px;
    line-height: 1.6;
}



.header-icon-link {
    text-decoration: none;
    color: #000;    
    text-align: center;
    margin-top: 8px;
    font-weight: bold;
    padding: 0 16px;
    display: flex;
    align-items: center;
}

.header-icon-link:hover {
    color: orange;
    transition: all 0.3s ease-in;
}

.pagination {
    margin: 20px auto;        
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination-link {
    padding: 10px;
    color: blue;
    text-decoration: none;
}

.pagination-link.active {
    color: #ccc;
    cursor: default;
    text-decoration: underline;
}

.all-product {
    font-size: 28px;
    font-weight: bold;
    color: #000;
    padding: 40px;
}

.all-product:hover {
    color: blue;
    transition: all 0.35s ease-in-out 0;
}